body {
    background-color:ghostwhite;
    padding-left: 50px;
    padding-right: 50px;
}

.preview {
    background-color:lightblue;
}

.preview img {
    max-width: 100px;
}

textarea, .preview {
    min-height: 400px;
}

.header {
    background-color:lightblue;
    padding: 20px;
}